1.was to print hello world by using shell.

In [1]:
a='Hello world'
a

'Hello world'

2.was to print hello world by using python print function.

In [2]:
a='Hello world'
print(a)

Hello world

3. was to initialize variable and value as 50.

In [3]:
x=50
print(x)

50

4. was to initialize multi variable values are 150,120,250.

In [4]:
a,b,c=150,120,250
print(a,b,c)

150 120 250

5. was to print the type of the data in the given values.

In [6]:
a=True
print(type(a))

<class 'bool'>

6. was to print the address of the memory block in given value.

In [7]:
x=(1,2,3)
y=[6,7,8]
z={'a':10,'b':20}
print(id(x))
print(id(y))
print(id(z))

2080835521984
2080835262272
2080835374208

7. was to print your details,first store your details,extract the values and display.

In [8]:
d={'name':'Sivani','age':21,'Qualification':'BTECH'}
print(d)

{'name': 'Sivani', 'age': 21, 'Qualification': 'BTECH'}

8. was to swap two values with temp variable.

In [9]:
a=10
b=20
temp=a
a=b
b=temp
print(a)
print(b)

20
10

9. was to swap the values without using temp variable.

In [10]:
m={'a':10}
n=(10,20)
m,n=n,m
print(m)
print(n)

(10, 20)
{'a': 10}

10. was to initialise the value and print the value,after print then reinitialize the new value to the existing variable and display the value.

In [11]:
a=15
print(a)
a=(1,2)
print(a)

15
(1, 2)

29. ws to modify the first 4 positions values into given list

In [12]:
l=[1,2,3,4,5,6]
print(l,id(l))
l[0:4]=['a','b','c','d']
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2080834588928
['a', 'b', 'c', 'd', 5, 6] 2080834588928

30. was to delete the value in the specific poition of the given list.

In [14]:
l=[1,2,3,4,5,6]
print(l,id(l))
del l[3]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2080835492992
[1, 2, 3, 5, 6] 2080835492992

31. was to delete the value in the ending of the given list.

In [16]:
l=[1,2,3,4,5,6]
print(l,id(l))
del l[-1]
print(l,id(l))

print('---'*30)

l=[1,2,3,4,5,6]
print(l,id(l))
del l[len(l)-1]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2080812828224
[1, 2, 3, 4, 5] 2080812828224
------------------------------------------------------------------------------------------
[1, 2, 3, 4, 5, 6] 2080835454464
[1, 2, 3, 4, 5] 2080835454464

32. was to delete the value in the middle of the list.

In [17]:
l=[1,2,3,4,5,6,7]
print(l,id(l))
del l[len(l)//2]
print(l,id(l))

[1, 2, 3, 4, 5, 6, 7] 2080812895104
[1, 2, 3, 5, 6, 7] 2080812895104

33. was to delete the value into starting of the list.

In [20]:
l=[1,2,3,4,5,6]
print(l,id(l))
del l[0]
print(l,id(l))

print('---'*30)

l=[1,2,3,4,5,6]
print(l,id(l))
del l[-(len(l))]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2080840941056
[2, 3, 4, 5, 6] 2080840941056
------------------------------------------------------------------------------------------
[1, 2, 3, 4, 5, 6] 2080840938688
[2, 3, 4, 5, 6] 2080840938688

34. was to delete the sequence into starting of the list.

In [22]:
l=[1,2,3,4,5,6]
print(l,id(l))
del l[0:4]
print(l,id(l))

print('---'*30)

l=[1,2,3,4,5,6,'a','b','c','d','e']
print(l,id(l))
del l[4:0:-1]
print(l,id(l))

[1, 2, 3, 4, 5, 6] 2080840876928
[5, 6] 2080840876928
------------------------------------------------------------------------------------------
[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e'] 2080841045952
[1, 6, 'a', 'b', 'c', 'd', 'e'] 2080841045952

35. was to concate the new value into starting of the tuple.

In [29]:
t=('hello','good','morning','good night')
print(t,id(t))
t=('haii',)+t
print(t,id(t))

#as tuple is multivalue datatype we need to concate multiple values.

('hello', 'good', 'morning', 'good night') 2080841169504
('haii', 'hello', 'good', 'morning', 'good night') 2080841160864

36. was to concate the new value into middle of the tuple.

In [28]:
#as direct modification is not possible we go for slicing and concatenation.
t=('hello','good','morning','good night')
print(t,id(t))
t= t[:len(t)//2]+([10,20],)+t[len(t)//2:]
print(t,id(t))

('hello', 'good', 'morning', 'good night') 2080841169504
('hello', 'good', [10, 20], 'morning', 'good night') 2080841160864

37. was to concate the new value into specific position of the tuple.

In [27]:
t=('hello','good','morning','good night')
print(t,id(t))
t= t[:3]+([10,20],)+t[3:]
print(t,id(t))

('hello', 'good', 'morning', 'good night') 2080841167824
('hello', 'good', 'morning', [10, 20], 'good night') 2080841160864

38. was to concate the new value into ending of the tuple.

In [32]:
t=('hello','good','morning','good night')
print(t,id(t))
t+=('bye bye',)
print(t,id(t))
#as tuple is immutable we cannot modify inside the tuple in the same memory block.hence the address will be different even after using compount assignment operator.

('hello', 'good', 'morning', 'good night') 2080841159104
('hello', 'good', 'morning', 'good night', 'bye bye') 2080841268608

39. was to modify the values in the tuple.

In [36]:
#starting
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=('haii',)+x[1:]
print(x,id(x))

print('---'*30)

#ending
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[0:-1]+('good bye',)
print(x,id(x))

print('---'*30)

#specific position
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[0:2]+('afternoon',)+x[2+1:]
print(x,id(x))

print('---'*30)

#middle
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[:len(x)//2]+('afternoon',)+x[len(x)//2+1:]
print(x,id(x))

print('---'*30)

#sequence of values
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[:2]+([10,2,0],)+x[4:]
print(x,id(x))

('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('haii', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841371840
------------------------------------------------------------------------------------------
('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('hello', 'good', 'morning', 'good night', 'bye', 'good bye') 2080841371840
------------------------------------------------------------------------------------------
('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('hello', 'good', 'afternoon', 'good night', 'bye', 'bye bye') 2080841371840
------------------------------------------------------------------------------------------
('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('hello', 'good', 'morning', 'afternoon', 'bye', 'bye bye') 2080841371840
------------------------------------------------------------------------------------------
('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('hello', 'good', [10, 2, 0], 'bye', 'bye bye') 2080841322784

40. was to modify the values in the tuple.

In [37]:
#starting
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[1:]
print(x,id(x))

print('---'*30)

#ending
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[0:-1]
print(x,id(x))

print('---'*30)

#specific position
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[0:2]+x[2+1:]
print(x,id(x))

print('---'*30)

#middle
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[:len(x)//2]+x[len(x)//2+1:]
print(x,id(x))

print('---'*30)

#sequence of values
x=('hello','good','morning','good night','bye','bye bye')
print(x,id(x))
x=x[:2]+x[4:]
print(x,id(x))

('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('good', 'morning', 'good night', 'bye', 'bye bye') 2080841322784
------------------------------------------------------------------------------------------
('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('hello', 'good', 'morning', 'good night', 'bye') 2080841322784
------------------------------------------------------------------------------------------
('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('hello', 'good', 'good night', 'bye', 'bye bye') 2080841322784
------------------------------------------------------------------------------------------
('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('hello', 'good', 'morning', 'bye', 'bye bye') 2080841322784
------------------------------------------------------------------------------------------
('hello', 'good', 'morning', 'good night', 'bye', 'bye bye') 2080841373472
('hello', 'good', 'bye', 'bye bye') 2080841331584

41. wap to perform the set operations.

In [38]:
#union/concate
s={10,20,30,40}
t={20,50,60}
res=s|t
print(res)

#union_updation
s={10,20,30,40}
t={20,50,60}
s|=t
print(s)

#difference/delete
s={10,20,30,40}
t={20}
res=s-t
print(res)

#difference_update/delete
s={10,20,30,40}
t={20}
s-=t
print(s)

{50, 20, 40, 10, 60, 30}
{50, 20, 40, 10, 60, 30}
{40, 10, 30}

42. was to concate the new key and value into the dictionary.

In [41]:
#adding single value
d={'a':10,'hello':'bye'}
print(d,id(d))
d['c']=30
print(d,id(d))

print('---'*30)

#adding multiple key value pairs without changing address.
d={'a':10,'hello':'bye'}
print(d,id(d))
x={'apple':10,'bat':1500,'ball':60}
d|=x
print(d,id(d))
print('---'*30)

#changing one val.ue of same key and changing value of different key
d={'a':10,'hello':'bye'}
print(d,id(d))
x={'apple':200,'bat':'bye','ball':60}
d|=x
print(d,id(d))

{'a': 10, 'hello': 'bye'} 2080841211968
{'a': 10, 'hello': 'bye', 'c': 30} 2080841211968
------------------------------------------------------------------------------------------
{'a': 10, 'hello': 'bye'} 2080841211840
{'a': 10, 'hello': 'bye', 'apple': 10, 'bat': 1500, 'ball': 60} 2080841211840
------------------------------------------------------------------------------------------
{'a': 10, 'hello': 'bye'} 2080841344768
{'a': 10, 'hello': 'bye', 'apple': 200, 'bat': 'bye', 'ball': 60} 2080841344768

43. was to delete the specific key and value in given dict.

In [45]:
x={'apple':200,'hello':'bye','bat':'bye','ball':60}
print(x,id(x))
del x['ball']
print(x,id(x))

print('---'*30)

#we cannot delete multiple keys at a time directly but can do by type casting
x={'apple':200,'hello':'bye','bat':'bye','ball':60}
print(x,id(x))
del [x['ball'],x['apple']]
print(x,id(x))

{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2080841060352
{'apple': 200, 'hello': 'bye', 'bat': 'bye'} 2080841060352
------------------------------------------------------------------------------------------
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2080835540032
{'hello': 'bye', 'bat': 'bye'} 2080835540032

44. was to modify the values in given dictionary.

In [47]:
x={'apple':200,'hello':'bye','bat':'bye','ball':60}
print(x,id(x))
x['apple']=1500
print(x,id(x))

print('---'*30)

#can modify multiple key value pairs by using set union operator
x={'apple':200,'hello':'bye','bat':'bye','ball':60}
print(x,id(x))
t={'apple':1500,'hello':'helloworld'}
x|=t
print(x,id(x))

{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2080841427584
{'apple': 1500, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2080841427584
------------------------------------------------------------------------------------------
{'apple': 200, 'hello': 'bye', 'bat': 'bye', 'ball': 60} 2080841420672
{'apple': 1500, 'hello': 'helloworld', 'bat': 'bye', 'ball': 60} 2080841420672

45. was to concate the list values and tuple values by type casting.

In [2]:
l=[10,20,30,50]
j=('A','B','C','D')
res = l+list(j)
print(res)

l=[10,20,30,50]
j=('A','B','C','D')
res = tuple(l)+j
print(res)

l=[10,20,30,50]
j=('A','B','C','D')
l+=list(j)
print(l)

l=[10,20,30,50]
j=('A','B','C','D')
j+=tuple(l)
print(j)

[10, 20, 30, 50, 'A', 'B', 'C', 'D']
(10, 20, 30, 50, 'A', 'B', 'C', 'D')
[10, 20, 30, 50, 'A', 'B', 'C', 'D']
('A', 'B', 'C', 'D', 10, 20, 30, 50)

46. was to concate the list values and tuple values without type casting.

In [4]:
l=['a','b','c','d']
t=(1,2,3,4,5,6)
l+=t
print(l)

l=['a','b','c','d']
t=(1,2,3,4,5,6)
t+=l
print(t)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6]

TypeError: can only concatenate tuple (not "list") to tuple

47. wac to the given number is divisible by 3.

In [5]:
n=15
res=n%3==0
print(res)

n=16
res=n%3==0
print(res)

True
False

48. wac to the given number is divisible by 2 and 6.

In [7]:
n=16
res=n%2==0 and n%6==0
print(res)

n=12
res=n%2==0 and n%6==0
print(res)

False
True

49. wap to extract the last digit from given integer without typecasting.

In [15]:
n=1569
res=n%10
print(res)

n=1569
res=(n%100)%10
print(res)

#extract second digit
n=1569
res=(n%100)//10
print(res)

#extract third last division
n=1569
res=(n%1000)//100
print(res)

9
9
6
5

50. wap to eliminate the last digit from given integer without typecasting.

In [11]:
n=1569
res=n//10
print(res)

#eliminate last two digits
n=1569
res=n//100
print(res)

156
15

51. wac to the given number's last digit divisible by 3 without using typecasting.

In [17]:
n=1569
res=n%10
x=res%3==0
print(x)

n=1568
res=n%10
x=res%3==0
print(x)

n=1569
res=(n%10)%3==0
print(res)

True
False
True

52. wac to check the last digit is divisible by 3 using type casting

In [19]:
n=1569
res=str(n)[-1]
print(res,type(res))

n=1569
res=int(str(n)[-1])
print(res,type(res))

n=1569
res=(int(str(n)[-1]))%3==0
print(res,type(res))

9 <class 'str'>
9 <class 'int'>
True <class 'bool'>

53. wac to check the given num is greater than 150.

In [20]:
n=420
res=n>150
print(res)

True

54. wac to check the given num is greater than or equal to 100.

In [21]:
n=420
res=n>=100
print(res)

True

55. wac to check the given num is less than 150,print result

In [22]:
n=420
res=n<150
print(res)

False

56. wac to check the given num is less than or equal to 150,print result

In [24]:
n=150
res=n<=150
print(res)

True

57. wae to check given num is greater than 15 and less than 24.

In [26]:
n=20
res=(n>15 and n<24)
print(res)

n=20
res=(15<n<24)
print(res)

True
True

58. wac to check the given num is even or not.

In [27]:
n=80
res=n%2==0
print(res)

True

58. wac to check the given num is odd or not.

In [29]:
n=80
res=not(n%2==0)
print(res)

False

59. wac to perform the replication of a given string with 6 times.

In [31]:
b='haii'
res=(b*6)
print(res)

haiihaiihaiihaiihaiihaii

60. wac to check the given number divisible by 3 and also should be greater than 22.

In [33]:
n=29
res=(n%3==0) and (n>22)
print(res)

n=27
res=(n%3==0) and (n>22)
print(res)

False
True

61. wac to check the collection is even or not.

In [34]:
l=[45,26,32]
res=len(l)%2==0
print(res)

False

62. wac to check the lenght of collection is less than 55 and greater than 16.

In [35]:
n='*'*22
res=16<len(n)<56
print(res)

True

63. was to check lenght of collection is divisible by 5 and odd.

In [37]:
n='helloworld'
res=(len(n)%5==0 and len(n)%2!=0)
print(res)

n='helloworldaaiio'
res=(len(n)%5==0 and len(n)%2!=0)
print(res)

False
True

64. wac to extract the middle position value of the given collection.

In [39]:
s='pyspiders'
res=s[len(s)//2]
print(res)

s=[10,20,30]
res=s[len(s)//2]
print(res)

s=('a','b','c')
res=s[len(s)//2]
print(res)

i
20
b

65. wac to check given num is greater than 20 and less than 30 and it should be even.

In [40]:
n=26
res= ((20<n<30) and n%2==0)
print(res)

True

66. wac to check the given num is even and should be less than 120

In [41]:
n=6
res= ((n%2==0) and n<120)
print(res)

True

67. was to check the given num is even and present between 40 and 70

In [42]:
n=50
res= ((n%2==0) and 40<=n<=70)
print(res)

True

68. wac to check the given num is odd and it should be greater than 97.

In [44]:
n=100
res= (n%2!=0) and n>97
print(res)

False